html { box-sizing: border-box; }

*, *:before, *:after{ box-sizing: inherit; }












































/*  helper classes */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}