.navigation__elems-holder, .features, .porfolio__elems-holder, .clients, .socials {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.navigation__elems-holder li, .features li, .porfolio__elems-holder li, .clients li, .socials li {
  font-size: initial;
}

.main-header:before, .main-footer:before, .main-header:after, .main-footer:after {
  content: '';
  display: table;
}

.main-header:after, .main-footer:after {
  clear: both;
}

/*common styles*/
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

*:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 32px;
  /*useless?*/
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 15px;
}

.inverse-background {
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 15px;
  color: #8e8e8e;
}

img {
  width: 100%;
  height: auto;
}

hr {
  border: none;
  border-top: 1px solid;
  color: #ffe600;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.without-margins {
  margin: 0;
}

.body {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #131316;
  text-align: center;
}

.primary,
.container .primary {
  color: #ffe600;
}

.primary-background {
  background-color: #ffeb33;
}

.inverse-background {
  background-color: #424245;
  color: white;
}

.dark-background {
  background-color: #131316;
}

.button {
  text-transform: uppercase;
}

div[class$="logo-holder"],
div[class$="img-holder"] {
  font-size: 0;
}

/*direct styles*/
.main-wrapper {
  max-width: 1920px;
  min-width: 1171px;
  margin: 0 auto;
}

.container {
  width: 1171px;
  margin: 0 auto;
}

.section {
  overflow: auto;
}

/*greeting*/
.html,
.html .body,
.html .body .main-wrapper,
.html .body .main-wrapper .greeting {
  height: 100%;
}

.greeting {
  display: table;
  width: 100%;
  background-color: #89898b;
}

.greeting__inner {
  display: table-cell;
  vertical-align: middle;
}

.greeting__main-logo-holder {
  width: 89px;
  margin: 0 auto;
}

.greeting__main-logo {
  transition: all 3s cubic-bezier(0.81, 0.22, 0.32, 0.77);
}

.greeting__main-logo:hover {
  -webkit-transform: rotate(1800deg);
      -ms-transform: rotate(1800deg);
          transform: rotate(1800deg);
}

.greeting__minor-heading {
  margin-top: 51px;
  font-size: 15px;
  color: white;
}

.greeting__lead-heading {
  margin-top: 49px;
  font-size: 40px;
  font-weight: 300;
  color: #ffe600;
}

.greeting__button-holder {
  margin-top: 9.479%;
}

.greeting__button {
  padding: 22px 80px 23px 85px;
  font-size: 15px;
  border: 1px solid #ffe600;
  color: white;
  background: transparent;
  letter-spacing: 1px;
  transition: all .2s linear;
}

.greeting__button:hover {
  background-color: #ffe600;
  letter-spacing: 3px;
  color: #89898b;
  font-weight: bolder;
}

.greeting__slide-down {
  width: 40px;
  height: 20px;
  display: block;
  margin: 49px auto 0;
  background: url("../images/main_sprite.png") no-repeat;
  background-position: 0 -34px;
  transition: all 0.2s cubic-bezier(0, 0.66, 0, 4.54);
}

.greeting__slide-down:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
      transform: scale(1.1);
}

/*main-header*/
.main-header {
  padding: 40px 2.134% 40px 1.024%;
}

.main-header__logo-holder {
  width: 186px;
  float: left;
}

/*main-navigation*/
#menu_button {
  display: none;
}

#menu_button:checked ~ .main-navigation-holder {
  display: block;
}

.hamburger_menu_btn__text-holder {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 1;
  font-size: 12px;
  line-height: 37px;
  color: #ffe600;
  background-color: #4f4400;
  transition: all .5s linear 1.2s;
}

#menu_button:checked ~ .hamburger_menu_btn .hamburger_menu_btn__text-holder {
  left: 100%;
  opacity: 0;
  transition: all .5s linear;
  transition-delay: 0s;
}

.hamburger_menu_btn {
  display: none;
  z-index: 1;
  position: relative;
  float: right;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 46px;
  height: 46px;
  border: 4.6px solid #4f4400;
  border-radius: 50%;
  cursor: pointer;
  background-image: url("../images/menu-btn-bg-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  transition: all 1.2s linear;
}

.hamburger_menu_btn:focus {
  outline: none;
}

#menu_button:checked ~ .hamburger_menu_btn {
  background-image: url("../images/menu-btn-bg.png");
  background-size: cover;
  background-repeat: none;
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
  transition: -webkit-transform 1.2s linear;
  transition: transform 1.2s linear;
  transition: transform 1.2s linear, -webkit-transform 1.2s linear;
  transition-delay: .5s;
}

#menu_button:checked ~ .hamburger_menu_btn .hamburger_menu_btn__cicrle {
  background-color: #4f4400;
  transition-delay: .5s;
}

#menu_button:checked ~ .hamburger_menu_btn .hamburger_menu_btn__cicrle-1 {
  height: 8.5px;
  width: 8.5px;
  top: 7px;
  left: 22px;
}

#menu_button:checked ~ .hamburger_menu_btn .hamburger_menu_btn__cicrle-2 {
  width: 10.5px;
  height: 10.5px;
  top: 4.5px;
  left: 9px;
}

#menu_button:checked ~ .hamburger_menu_btn .hamburger_menu_btn__cicrle-3 {
  width: 9px;
  height: 9px;
  top: 27px;
  left: 24px;
}

#menu_button:checked ~ .hamburger_menu_btn .hamburger_menu_btn__cicrle-4 {
  width: 9px;
  height: 9px;
  top: 29px;
  left: 3px;
}

#menu_button:checked ~ .hamburger_menu_btn .hamburger_menu_btn__cicrle-5 {
  width: 5px;
  height: 5px;
  top: 28px;
  left: 16px;
}

#menu_button:checked ~ .hamburger_menu_btn .hamburger_menu_btn__cicrle-6 {
  width: 3.5px;
  height: 3.5px;
  top: 19px;
  left: 29px;
}

#menu_button:checked ~ .hamburger_menu_btn .hamburger_menu_btn__cicrle-7 {
  width: 3px;
  height: 3px;
  top: 20px;
  left: 2px;
}

.hamburger_menu_btn__cicrle {
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
  top: 18.5px;
  left: 18.5px;
  border-radius: 50%;
  background-color: #4f4400;
  transition: all 1.2s linear;
}

.hamburger_menu_btn__cicrle-1 {
  background-color: #4f4400;
}

.hamburger_menu_btn__cicrle-2 {
  background-color: #FCFF00;
}

.hamburger_menu_btn__cicrle-3 {
  background-color: #4f4400;
}

.hamburger_menu_btn__cicrle-4 {
  background-color: #FCFF00;
}

.hamburger_menu_btn__cicrle-5 {
  background-color: #4f4400;
}

.hamburger_menu_btn__cicrle-6 {
  background-color: #FCFF00;
}

.hamburger_menu_btn__cicrle-7 {
  background-color: #4f4400;
}

.navigation__elem {
  display: inline-block;
  margin-left: 13px;
}

.navigation__elem:hover .navigation__link {
  color: initial;
}

.navigation__elem:first-child {
  margin-left: 0;
}

.navigation__elem_active .navigation__link {
  border-color: #ffe600;
  color: initial;
}

.navigation__link {
  display: block;
  padding: 13.5px 19px 13.5px 27px;
  border: 1px solid transparent;
  font-size: 15px;
  color: #8e8e8e;
  transition: all .2s linear;
}

/*section*/
.section__heading {
  margin-top: 9.99%;
}

.section__minor-text {
  margin-top: 30px;
  color: #ffe600;
}

/*features*/
.features-holder {
  margin-top: 11.528%;
  margin-bottom: 13.919%;
}

.features__elem {
  display: inline-block;
  vertical-align: top;
  width: 33%;
}

.features__elem-inner {
  margin: 0 35px;
}

.features__counter {
  position: relative;
  top: 3px;
  padding: 5px 15px 5px 0;
  margin-right: 16px;
  font-size: 25px;
  border-right: 1px solid;
  color: #ffe600;
}

.features__desc {
  margin-top: 52px;
  text-transform: initial;
  font-weight: 300;
}

/*accent-block*/
.accent-block {
  display: table;
  width: 100%;
}

.accent-block__inner {
  display: table-cell;
  vertical-align: middle;
  padding: 21.349% 0;
}

.accent-block__heading {
  margin-top: 0;
  font-weight: 300;
  font-style: italic;
  line-height: 40px;
}

.accent-block__minor-text {
  margin-bottom: 0;
  font-weight: 400;
  color: white;
}

/*portfolio*/
.portfolio {
  overflow: hidden;
}

.portfolio-holder {
  margin-top: 10.076%;
}

.porfolio__elems-holder {
  margin: -15px -15px;
  overflow: hidden;
}

.card {
  position: relative;
  width: 25%;
  padding: 1.28%;
  display: inline-block;
  vertical-align: top;
}

.card__holder {
  position: relative;
  padding-bottom: 74.074%;
  background-color: #f3f3f3;
  overflow: hidden;
}

.card__img-holder {
  position: absolute;
  width: 100%;
  overflow: hidden;
  display: table;
}

.card__img-inner {
  display: table-cell;
  vertical-align: middle;
}

.card__img {
  vertical-align: middle;
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  opacity: 0;
  width: 100%;
  width: calc(100% + 1px);
  background-color: rgba(255, 230, 0, 0.8);
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
      transform: translateY(100%);
  transition: all 350ms cubic-bezier(0, 0, 0, 1.89);
}

.card__holder:hover .card__content_hover {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
      transform: translateY(0);
}

.card__content-inner {
  display: table-cell;
  vertical-align: middle;
}

.card__heading {
  font-size: 20px;
  margin-bottom: 15px;
}

.card__desc {
  font-size: 15px;
  color: white;
}

.portfolio__view-more-text {
  margin-top: 26px;
  color: #ffe600;
}

.portfolio__view-more-arrow {
  width: 40px;
  height: 20px;
  display: block;
  margin: 27px auto 9.82%;
  background: url("../images/main_sprite.png") no-repeat;
  background-position: -40px -34px;
  transition: all 0.2s cubic-bezier(0, 0.66, 0, 4.54);
}

.portfolio__view-more-arrow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
      transform: scale(1.1);
}

/*clients*/
.clients-holder {
  margin-top: 11.272%;
}

.clients {
  text-align: justify;
}

.clients:after {
  width: 100%;
  height: 0;
  content: '';
  display: inline-block;
}

.clients__elem {
  width: 16.66%;
  margin-bottom: 10.93%;
  display: inline-block;
  vertical-align: middle;
}

.clients__link {
  display: block;
  width: 52.083%;
  margin: 0 auto;
  transition: all 0.35s cubic-bezier(0, 0, 0, 2.04);
}

.clients__link:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
      transform: scale(1.2);
}

.clients__img-holder {
  text-align: center;
}

.clients__img {
  width: initial;
  max-width: 100%;
}

/*contact-form*/
.contact-form-holder {
  margin: 10.076% 0 9.564%;
}

.contact-form {
  width: 82.835%;
  margin: 0 auto;
  font-size: 0;
}

.contact-form__elem {
  font-size: initial;
  margin-top: 20px;
}

.contact-form__elem_half-with {
  width: 50%;
  display: inline-block;
  margin-top: 0;
}

.contact-form__elem_half-with:first-child {
  padding-right: 1.28%;
}

.contact-form__elem_half-with + .contact-form__elem_half-with {
  padding-left: 1.28%;
}

.contact-form__input {
  width: 100%;
  height: 50px;
  padding: 0 23px;
  border: none;
  outline: none;
  background-color: #ffeb33;
}

.contact-form__input:focus {
  border: 2px solid #424245;
  border-left: 20px solid #424245;
}

.contact-form__input::-webkit-input-placeholder {
  color: white;
}

.contact-form__input::-moz-input-placeholder {
  color: white;
}

.contact-form__input:focus::-webkit-input-placeholder {
  color: transparent;
}

.contact-form__input:focus::-moz-input-placeholder {
  color: transparent;
}

.contact-form__input_message-box {
  height: 180px;
  padding: 20px 23px;
}

.contact-form__button {
  width: 100%;
  height: 50px;
  font-size: 20px;
  border: none;
  outline: none;
  color: #ffe600;
  background-color: #131316;
}

.contact-form__button:hover {
  color: white;
}

.contact-form__button:focus {
  color: #424245;
}

/*footer*/
.main-footer {
  padding: 3.415% 0;
}

.main-footer__copyright {
  text-align: initial;
  float: left;
  font-size: 13px;
  text-transform: initial;
  margin: 0;
  color: #ffe600;
}

.socials-holder {
  float: right;
}

.socials {
  float: right;
}

.socials__elem {
  display: inline-block;
  vertical-align: middle;
}

.socials__link {
  display: block;
  color: white;
  margin-left: 38px;
}

.socials__link_facebook {
  width: 8px;
  height: 17px;
  background: url(../images/main_sprite.png) no-repeat;
  background-position: 0 0;
}

.socials__link_facebook:hover {
  background: url(../images/main_sprite.png) no-repeat;
  background-position: 0 -17px;
}

.socials__link_twiter {
  width: 18px;
  height: 14px;
  background: url(../images/main_sprite.png) no-repeat;
  background-position: -8px 0;
}

.socials__link_twiter:hover {
  background: url(../images/main_sprite.png) no-repeat;
  background-position: -8px -17px;
}

.socials__link_dribble {
  width: 18px;
  height: 17px;
  background: url(../images/main_sprite.png) no-repeat;
  background-position: -26px 0;
}

.socials__link_dribble:hover {
  background: url(../images/main_sprite.png) no-repeat;
  background-position: -26px -17px;
}

.socials__link_google {
  width: 18px;
  height: 15px;
  background: url(../images/main_sprite.png) no-repeat;
  background-position: -44px 0;
}

.socials__link_google:hover {
  background: url(../images/main_sprite.png) no-repeat;
  background-position: -44px -17px;
}

.socials__link_youtube {
  width: 18px;
  height: 17px;
  background: url(../images/main_sprite.png) no-repeat;
  background-position: -62px 0;
}

.socials__link_youtube:hover {
  background: url(../images/main_sprite.png) no-repeat;
  background-position: -62px -17px;
}

/*media*/
@media screen and (max-width: 1180px) {
  .main-wrapper {
    min-width: 100%;
  }
  .container {
    width: 98%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 976px) {
  .main-header {
    padding: 15px 2.134% 15px 1.024%;
  }
  .navigation__elem {
    margin-left: 0;
  }
  .navigation__link {
    padding: 13.5px 8px 13.5px 13px;
  }
  .features {
    margin-left: 10%;
  }
  .features__elem {
    display: block;
    width: 100%;
    margin-top: 25px;
    text-align: left;
  }
  .features__desc {
    margin-top: initial;
  }
  .card__heading {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .card__desc {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .greeting__slide-down {
    display: none;
  }
  .hamburger_menu_btn {
    display: block;
  }
  .hamburger_menu_btn-text {
    display: block;
  }
  .main-navigation-holder {
    display: none;
    clear: both;
    margin-top: 12px;
  }
  .navigation__elem {
    display: block;
  }
  .card {
    width: 33.33%;
  }
  .main-footer__copyright {
    float: none;
    text-align: inherit;
  }
}

@media screen and (max-width: 480px) {
  .greeting__main-logo-holder {
    width: 120px;
    margin: 0 auto;
  }
  .contact-form__elem {
    margin-top: 10px;
  }
  .features {
    margin-left: 0;
  }
  .features__elem-inner {
    margin: 0;
    padding: 0 5%;
  }
  .features__title {
    line-height: 190%;
  }
  .card {
    width: 50%;
  }
  .clients__elem {
    width: 33.33%;
    margin-bottom: 10.93%;
  }
  .contact-form {
    width: 95%;
  }
  .contact-form__elem_half-with {
    width: 100%;
    display: block;
  }
  .contact-form__elem_half-with:first-child {
    padding-right: 0;
  }
  .contact-form__elem_half-with + .contact-form__elem_half-with {
    padding-left: 0;
  }
  .socials {
    float: none;
    margin-top: 15px;
  }
  .socials__link {
    margin: 0 15px;
  }
}

/*# sourceMappingURL=main.css.map */